:root {
    --head-text-color1: #263640;
    --head-text-color2: #D00053;
    --head-text-color3: #23C188;
    --text-color1: #929A9F;
    --text-color2: #6B6C71;
    --text-color3: #272727;
    --text-color4: #272628;
    --text-color5: #ffffff;
    --text-color6: #8D8D8D;
    --background1: #ffffff;
    --background2: #F9F9F9;
    --background2: #F5F5F5;
    --background3: #CB0051;
    --background4: #ffbe00;
    --background5: #E9E9E9;
    --background6: #D8D8D8;

    
}