section .price-btn,
.price-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background3);
    color: var(--text-color5);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    padding: 0 16px;
    border-radius: 60px;
    width: fit-content;
    cursor: pointer;
    transition: all 0.3s;
    img {
        margin-left: 16px;
    }
    span {
        color: var(--text-color5);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;
    }
}
.price-btn:hover {
    text-decoration: none;
    background-color: var(--background4);
}